<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
      <meta name="author" content="Shayer Mahmud Sowmik">
      <meta name="description" content="The Official Website of Team X 1337">
      <link rel="canonical" href="https://github.com/Ign0r3dH4x0r"> 
      <!-- Social: Facebook / Open Graph -->
      <!--meta property="fb:admins" content="ID here..."-->
      <!--meta property="fb:app_id" content="ID here..."-->
      <meta property="og:url" content="https://thex.ml">
      <meta property="og:type" content="article">
      <meta property="og:title" content="Team X 1337 Official">
      <meta property="og:image" content="https://res-4.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco/v1484688352/ro7q4odnfti4hszsjrh1.png"/>
      <meta property="og:description" content="Latest Tools, Directly in your device!">
      <meta property="og:site_name" content="TeamX">
      <meta property="article:author" content="https://www.facebook.com/Ign0r3dh4x0r">
      <meta property="article:publisher" content="https://www.facebook.com/Ign0r3dH4x0r">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">TEAM X 1337</h1>
      <h2 class="project-tagline">WE ARE THE NOOB GEEKS</h2>
        <!--a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a-->
        <a href="https://tinyurl.com/Xbomber-1" class="btn">XBOMBER</a>
        <a href="https://tinyurl.com/X-Spoofer-1" class="btn">XSPOOFER</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
          <span class="site-footer-owner"><a href="https://thex.ml">TheX.ml</a> is maintained by <a href="https://github.com/Ign0r3dH4x0r">Ign0r3dH4x0r</a>.</span>
        <span class="site-footer-credits">PROUDLY HOSTED BY <a href="https://pages.github.com">GITHUB</a>.</span>
      </footer>
    </main>
  </body>
</html>
